@import url('https://fonts.googleapis.com/css?family=Muli');

.landing-header {
  max-width: 60em;
  margin: 4em auto 0;
  padding: 5em 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-header-left {
  display: flex;
  align-items: center;
  flex: 3;
  flex-basis: 12em;
}

.landing-header-left h2 {
  max-width: 12em;
  margin: 0;
  padding: 1em;
  background-color: #eff2f6;
  border: 9px solid #3d4143;
  color: #383838;
  font-family: 'Muli';
  font-size: 1.75em;
  font-weight: 100;
  text-align: center;
  transform: rotate(-9deg);
  box-shadow: 5px 0px 4px 0px #44444487;
}

.landing-header-right {
  margin: 5em 0 0;
  display: flex;
  align-items: center;
  flex: 8;
  flex-basis: 15em;
}

.landing-header-right form {
  max-width: 20em;
  margin: 0 auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #b9b9b9;
  border-bottom-width: 5px;
}

.landing-header-right form input {
  width: 100%;
  max-width: 20em;
  margin: 0 0 1em 0;
}

.feature-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 180px;
  border-bottom: 1px solid #d6d5d5;
  border-top: 1px solid #d6d5d5;
}

.feature {
  position: relative;
  background: white;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px 45px;
  width: 320px;
  border-left: 1px solid #d6d5d5;
  border-right: 1px solid #d6d5d5;
  cursor: pointer;
}

.feature:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  background-image: url('../../images/bank-with-dollar-sign.png');
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size: contain;
  -o-background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

.feature-wrapper .hidden {
  background-image: url(../../images/77114-200.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 30%;
  opacity: 0.1;
} 
.feature:hover,
.feature:focus {
  background: #88888824;
  transition: 0.5s;
}

.feature h3 {
  margin: 0 0 10px 0;
  z-index: 2;
  position: relative;
}

.feature p {
  margin: 0;
  z-index: 2;
  position: relative;
}

.landing-page-main {
  padding: 3.5em 0;
}


.feature-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.feature-list figure {
  display: flex;
  align-items: center;
}

.feature-list figure:nth-child(even) {
  flex-direction: row-reverse;
}

.feature-list figure img {
  margin: 0 1em 0;
  width: 45%
}

.feature-list figure:nth-child(even) img {
  margin: 0 0 0 1em;
}

.feature-list figure figcaption {
  margin: 2em;
}

footer {
  background: #f1f1f175;
}
.footer-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0 0 15px 0;
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.footer-wrapper li {
  list-style-type: none;
  text-decoration: none;
  margin: 1px 0;
}

.footer-wrapper ul,
.footer-wrapper a,
.footer-wrapper h3 {
  padding: 0;
  text-align: center;
  margin: 6px 0;
  text-decoration: none;
  color: black;
}

.footer-wrapper a i {
  margin: 0 3px 0 0;
  color: #24292e;
}

.footer-wrapper > div {
  margin: 40px 0 20px 0;
  font-size: 0.8rem;
}


hr.copyright-hr {
  border: 0;
  margin: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 1024px){
  div.feature-wrapper {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .feature-wrapper .hidden {
    display: none;
  
  }
}

@media only screen and (max-width: 425px) {
  .feature-list figure,
  .feature-list figure:nth-child(even) {
    margin: 0 0 2em 0;
    flex-direction: column;
  }

  .feature-wrapper .hidden {
    display: none;
  
  }

  div.feature {
    width: 90%;
  }

  div.feature-wrapper {
    padding: 0;
    margin: 0;
  }

  .feature-list figure img {
    margin: 0 1em 0;
    width: 85%
  }
}