.landing-header {
  max-width: 60em;
  margin: 0 auto;
  padding: 2em 15%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.landing-header-left {
  flex: 3;
  flex-basis: 12em;
  font-size: 1.25em;
}

.landing-header-left h2 {
  max-width: 12em;
  margin: 0 1em;
}

.landing-header-right {
  max-width: 15em;
  display: flex;
  align-items: center;
  flex: 8;
  flex-basis: 15em;
}

.landing-header-right form {
  width: 15em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.landing-header-right form input {
  width: 100%;
  max-width: 20em;
  margin: 0 0 1em 0;
}