.balance-sheet{
  list-style-type: none;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 2em;
  height: 8em; 
  width: 150px;    
}

.balance-sheet hr{
  height: 2px;
  background-color: black;  
}

@media only screen and (max-width: 800px){
  .balance-sheet{
    font-size: 14px;
    width: 125px; 
  } 
}


@media only screen and (max-width: 484px){
  .balance-sheet{
    height: 10em; 
  }
}