@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin: 0 auto;
  padding: 2em;
  max-width: 60em;
}

header {
  background-color: #ececec;
}

h3 {
  text-align: center;
}

h4 {
  margin: 0;
  text-transform: capitalize;
}

article {
  max-width: 40em;
  margin: 0 auto 3em;
  position: relative;
  flex-basis: 17em;
  background: #ececec;
  padding: 1.25em;
}

label {
  text-align: left;
  font-size: 0.8em;
  padding: 0 0 0.25em;
  font-weight: bold;
}

.flex-main {
  display: flex;
  flex-wrap: wrap;
}

.flex-form {
  display: flex;
  flex-direction: column;
  min-width: 25em;
  margin: 4em auto 0;
}

.flex-form > input,
.flex-form > select,
.flex-form > button {
  margin: 0.5em 1px;
  padding: 0.4em 0.5em;
}

.flex-form label {
  margin: .5em 0 0 0;
  font-size: .8em;
  font-weight: bold;
}

.flex-form button {
  margin-top: 3em;
}


.page-controls {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1.5em;
  max-width: 42.5em;
}
.flex-main .page-controls {
  padding: 0 3.5em;
}

.select-month-lg {
  font-size: 1.5em;
  padding: 0.25em .5em;
  border: 0;
  border-bottom: 1px solid gray;
}
.select-month-lg option {
  font-size: .6em;
}


.w-100 { width: 100%; height: 0 }

.text-green { color: green }
.text-red { color: red }

.alert-error {
  text-align: center;
  padding: 1.5em 0;
  color: red;
}
.alert-error-lg {
  padding: 1em;
  text-align: center;
  background-color: #ff5f5f;
  color: #fff;
}


@media only screen and (max-width: 425px) {
  .show-mobile { display: block; }

  .flex-form {
    min-width: 100%;
  }
}

@media only screen and (min-width: 426px) {
  .show-mobile { display: none; }
}
