body {
  margin: 0;
}

nav {
  background-color: #e0e0e0;
}

nav div {
  max-width: 60em;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  display: block;
}

main {
  margin: 0 auto;
  padding: 2em;
  max-width: 60em;
}

header {
  background-color: #ececec;
}